@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
::-webkit-scrollbar {
  display: none;
}

@keyframes left {
  from {
    opacity: 0;
    transform: translateX(-100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.FromLeft {
  animation: left linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

@keyframes bottom {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.FromBottom {
  animation: bottom linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes Top {
  from {
    opacity: 0;
    transform: translateY(-100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.FromTop {
  animation: Top linear;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

@keyframes right {
  from {
    opacity: 0;
    transform: translateX(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.FromRight {
  animation: right linear;
  animation-timeline: view();
  animation-range: entry 0% cover 40%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --primery:#02b261;
  --Background:#fcfcfc;
  --grey:#adb7b7;
  --secondry:#5f7273;
  --dark:#112e2f;
}

body {
  background: var(--Background);
  position: relative;
}

.banner {
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-image: url(images/potato.jpg);
  display: flex;
  align-items: center;
}
.banner .herotxt {
  padding-left: 20px;
}
@media screen and (max-width: 480px) {
  .banner .herotxt {
    padding-left: 10px;
  }
}
.banner .herotxt h1 {
  font-size: 80px;
  color: var(--Background);
  font-weight: 500;
  text-align: left;
}
.banner .herotxt h1 span {
  color: var(--dark);
  font-weight: 800;
}
.banner .herotxt p {
  font-size: 20px;
  color: var(--dark);
  font-weight: 500;
  text-align: left;
  line-height: 30px;
  margin-bottom: 30px;
}
.banner .herotxt a {
  text-decoration: none;
  color: var(--Background);
  font-weight: 700;
  font-size: 20px;
  border: 2px solid var(--Background);
  padding-inline: 15px;
  padding-block: 5px;
  border-radius: 50px;
}
.banner .herotxt a:hover {
  color: var(--dark);
  border: 2px solid var(--dark);
}

.bannertxt {
  display: flex;
  gap: 10px;
  padding-inline: 20px;
  padding-block: 30px;
}
@media screen and (max-width: 480px) {
  .bannertxt {
    flex-direction: column;
    padding-inline: 10px;
  }
}
.bannertxt .box {
  width: 33.3333333333%;
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px;
}
@media screen and (max-width: 480px) {
  .bannertxt .box {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .bannertxt .box {
    padding: 0;
    gap: 10px;
  }
}
.bannertxt .box img {
  width: 100px;
  height: 100px;
}
@media screen and (max-width: 768px) {
  .bannertxt .box img {
    width: 80px;
    height: 80px;
  }
}
.bannertxt .box .txt {
  width: calc(100% - 120px);
}
@media screen and (max-width: 768px) {
  .bannertxt .box .txt {
    width: calc(100% - 100px);
  }
}
.bannertxt .box .txt p {
  color: var(--secondry);
}
@media screen and (max-width: 768px) {
  .bannertxt .box .txt p {
    font-size: 15px;
  }
}
.bannertxt .line {
  background: var(--grey);
  width: 2px;
  height: 120px;
}
@media screen and (max-width: 480px) {
  .bannertxt .line {
    width: 100%;
    height: 2px;
  }
}

.howitswork {
  padding-inline: 20px;
  padding-block: 30px;
}
@media screen and (max-width: 480px) {
  .howitswork {
    padding-inline: 10px;
  }
}
.howitswork h1 {
  text-align: center;
  color: var(--primery);
  font-size: 40px;
}
@media screen and (max-width: 480px) {
  .howitswork h1 {
    font-size: 30px;
  }
}
.howitswork .row {
  margin-top: 30px;
  display: flex;
  gap: 30px;
}
@media screen and (max-width: 480px) {
  .howitswork .row {
    flex-direction: column;
  }
}
.howitswork .row .box {
  width: 33.3333333333%;
  align-items: center;
  padding: 25px;
  background-color: rgba(173, 183, 183, 0.2);
  border-radius: 20px;
  transition: transform 0.2s ease;
}
@media screen and (max-width: 480px) {
  .howitswork .row .box {
    width: 100%;
  }
}
.howitswork .row .box:hover {
  transform: translateY(-5px);
}
.howitswork .row .box h3 {
  color: var(--primery);
  font-size: 30px;
  text-align: center;
}
.howitswork .row .box p {
  color: var(--secondry);
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}

.faq {
  margin: 0 auto;
  padding: 4rem;
  width: 48rem;
}
@media screen and (max-width: 480px) {
  .faq {
    width: 100%;
    padding: 0.5rem;
  }
}
.faq h1 {
  text-align: center;
  color: var(--primery);
  font-size: 40px;
}
@media screen and (max-width: 480px) {
  .faq h1 {
    font-size: 20px;
  }
}

.accordion .accordion-item {
  border-bottom: 1px solid var(--grey);
}

.accordion .accordion-item button[aria-expanded=true] {
  border-bottom: 1px solid var(--primery);
}

.accordion button {
  position: relative;
  display: block;
  text-align: left;
  width: 100%;
  padding: 1em 0;
  color: var(--grey);
  font-size: 1.15rem;
  font-weight: 400;
  border: none;
  background: none;
  outline: none;
}
@media screen and (max-width: 480px) {
  .accordion button {
    font-size: 1rem;
    padding: 0.5em 0;
  }
}

.accordion button:hover, .accordion button:focus {
  cursor: pointer;
  color: var(--primery);
}

.accordion button:hover::after, .accordion button:focus::after {
  cursor: pointer;
  color: var(--primery);
  border: 1px solid var(--primery);
}

.accordion button .accordion-title {
  padding: 1em 1.5em 1em 0;
}

.accordion button .icon {
  display: inline-block;
  position: absolute;
  top: 18px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid;
  border-radius: 22px;
}

.accordion button .icon::before {
  display: block;
  position: absolute;
  content: "";
  top: 9px;
  left: 5px;
  width: 10px;
  height: 2px;
  background: currentColor;
}

.accordion button .icon::after {
  display: block;
  position: absolute;
  content: "";
  top: 5px;
  left: 9px;
  width: 2px;
  height: 10px;
  background: currentColor;
}

.accordion button[aria-expanded=true] {
  color: var(--primery);
}

.accordion button[aria-expanded=true] .icon::after {
  width: 0;
}

.accordion button[aria-expanded=true] + .accordion-content {
  opacity: 1;
  max-height: 9em;
  transition: all 200ms linear;
  will-change: opacity, max-height;
}

.accordion .accordion-content {
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 200ms linear, max-height 200ms linear;
  will-change: opacity, max-height;
}
@media screen and (max-width: 480px) {
  .accordion .accordion-content {
    max-height: 0;
  }
}

.accordion .accordion-content p {
  font-size: 1rem;
  font-weight: 300;
  margin: 2em 0;
}
@media screen and (max-width: 480px) {
  .accordion .accordion-content p {
    font-size: 0.8rem;
  }
}

.aboutus {
  padding-inline: 20px;
  display: flex;
  gap: 30px;
  width: 100%;
  padding-block: 30px;
}
@media screen and (max-width: 480px) {
  .aboutus {
    flex-direction: column-reverse;
    padding-inline: 10px;
  }
}
.aboutus .left {
  width: 100%;
  height: 50%;
}
.aboutus .left img {
  height: 100%;
  width: 100%;
}
.aboutus .right {
  width: 100%;
}
.aboutus .right h1 {
  color: var(--primery);
  font-size: 50px;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .aboutus .right h1 {
    font-size: 25px;
  }
}
.aboutus .right p {
  color: var(--secondry);
  font-size: 20px;
  text-align: left;
  line-height: 30px;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  .aboutus .right p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .aboutus .right p {
    font-size: 18px;
    line-height: 25px;
  }
}

.getstarted {
  position: relative;
  width: 100%;
  height: 50vh;
  padding-inline: 20px;
  padding-block: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/getstarted.jpg);
  background-size: cover;
  background-position: center;
}
@media screen and (max-width: 480px) {
  .getstarted {
    padding-inline: 10px;
  }
}
.getstarted .hangpotato {
  position: absolute;
  top: 0;
  left: 10px;
  height: calc(100% - 50px);
}
@media screen and (max-width: 480px) {
  .getstarted .hangpotato {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .getstarted .hangpotato {
    display: none;
  }
}
.getstarted h1 {
  color: var(--dark);
  font-size: 40px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .getstarted h1 {
    font-size: 25px;
  }
}
@media screen and (max-width: 768px) {
  .getstarted h1 {
    font-size: 30px;
  }
}
.getstarted p {
  color: var(--Background);
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
@media screen and (max-width: 480px) {
  .getstarted p {
    font-size: 15px;
  }
}
@media screen and (max-width: 768px) {
  .getstarted p {
    font-size: 18px;
    line-height: 25px;
  }
}
.getstarted a {
  text-decoration: none;
  color: var(--Background);
  font-weight: 700;
  font-size: 20px;
  border: 2px solid var(--Background);
  padding-inline: 15px;
  padding-block: 5px;
  border-radius: 50px;
  margin-top: 20px;
}
@media screen and (max-width: 480px) {
  .getstarted a {
    font-size: 15px;
  }
}
.getstarted a:hover {
  color: var(--dark);
  border: 2px solid var(--dark);
}

.galery {
  padding-inline: 20px;
  padding-block: 30px;
}
@media screen and (max-width: 480px) {
  .galery {
    padding-inline: 10px;
  }
}
.galery h1 {
  text-align: center;
  color: var(--primery);
  font-size: 40px;
}
@media screen and (max-width: 480px) {
  .galery h1 {
    font-size: 30px;
  }
}
.galery .row {
  margin-top: 30px;
  display: flex;
  gap: 30px;
  height: 50vh;
}
@media screen and (max-width: 480px) {
  .galery .row {
    flex-direction: column;
    height: 200vh;
  }
}
@media screen and (max-width: 768px) {
  .galery .row {
    gap: 10px;
  }
}
.galery .row .box {
  width: 25%;
  align-items: center;
  background-color: rgba(173, 183, 183, 0.2);
  border-radius: 20px;
  transition: transform 0.2s ease;
}
@media screen and (max-width: 480px) {
  .galery .row .box {
    width: 100%;
    height: 25%;
  }
}
.galery .row .box:hover {
  transform: translateY(-5px);
}
.galery .row .box img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
@media screen and (max-width: 480px) {
  .galery .row .box img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
}
.galery .addbtn {
  padding: 10px 20px;
  display: block;
  margin: auto;
  height: 50px;
  background-color: var(--primery);
  color: var(--Background);
  font-size: 19px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}
@media screen and (max-width: 480px) {
  .galery .addbtn {
    font-size: 15px;
  }
}
.galery .addbtn:hover {
  background-color: var(--dark);
  color: var(--Background);
  transition: all 0.3s ease-in-out;
}

.swiperbody {
  padding-block: 30px;
}
.swiperbody h1 {
  text-align: center;
  color: var(--primery);
  font-size: 40px;
}
@media screen and (max-width: 480px) {
  .swiperbody h1 {
    font-size: 25px;
  }
}
.swiperbody p {
  text-align: center;
  color: var(--secondry);
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 10px;
}
@media screen and (max-width: 480px) {
  .swiperbody p {
    font-size: 15px;
  }
}
.swiperbody .swiper {
  width: calc(100% - 40px);
  height: 50vh;
}
@media screen and (max-width: 480px) {
  .swiperbody .swiper {
    width: calc(100% - 20px);
    height: 80vh;
  }
}
.swiperbody .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: var(--Background);
  display: flex;
  justify-content: center;
  align-items: center;
}
.swiperbody .swiper-slide .content {
  width: calc(100% - 200px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .swiperbody .swiper-slide .content {
    width: 100%;
    height: 100%;
  }
}
.swiperbody .swiper-slide .content .img {
  width: 120px;
  height: 120px;
  border-radius: 100%;
  background-color: var(--primery);
}
@media screen and (max-width: 480px) {
  .swiperbody .swiper-slide .content .img {
    width: 80px;
    height: 80px;
  }
}
@media screen and (max-width: 768px) {
  .swiperbody .swiper-slide .content .img {
    width: 90px;
    height: 90px;
  }
}
.swiperbody .swiper-slide .content .img img {
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  border-radius: 100%;
  margin: 5px;
}
@media screen and (max-width: 480px) {
  .swiperbody .swiper-slide .content .img img {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    margin: 2.5px;
  }
}
@media screen and (max-width: 768px) {
  .swiperbody .swiper-slide .content .img img {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
    margin: 2.5px;
  }
}
.swiperbody .swiper-slide .content p {
  font-size: 17px;
  color: var(--grey);
  margin-top: 30px;
  text-align: center;
}
@media screen and (max-width: 480px) {
  .swiperbody .swiper-slide .content p {
    font-size: 15px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .swiperbody .swiper-slide .content p {
    font-size: 15px;
    margin-top: 10px;
  }
}
.swiperbody .swiper-slide .content p span {
  font-size: 25px;
  color: var(--primery);
}
.swiperbody .swiper-slide .content h3 {
  font-size: 25px;
  color: var(--secondry);
  font-weight: 700;
}
.swiperbody .swiper-pagination-bullet {
  background: var(--dark) !important;
}
.swiperbody .swiper-pagination-bullet-active {
  background: var(--primery) !important;
}
.swiperbody .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.swiperbody .addbtn {
  padding: 10px 20px;
  display: block;
  margin: auto;
  height: 50px;
  background-color: var(--primery);
  color: var(--Background);
  font-size: 19px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.swiperbody .addbtn:hover {
  background-color: var(--dark);
  color: var(--Background);
  transition: all 0.3s ease-in-out;
}

.footer {
  width: 100%;
  height: 50vh;
  background: var(--dark);
  display: flex;
  padding-block: 30px;
}
@media screen and (max-width: 768px) {
  .footer {
    height: 100vh;
    padding-inline: 10px;
  }
}
@media screen and (max-width: 480px) {
  .footer {
    height: auto;
    padding-inline: 10px;
    flex-direction: column;
  }
}
.footer .aboutfooter {
  width: 33.3333333333%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 480px) {
  .footer .aboutfooter {
    width: 100%;
    height: 50vh;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer .aboutfooter {
    padding: 0;
  }
}
.footer .aboutfooter p {
  color: var(--grey);
  width: calc(100% - 20px);
  text-align: center;
}
@media screen and (max-width: 480px) {
  .footer .aboutfooter p {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  .footer .aboutfooter p {
    text-align: left;
  }
}
.footer .aboutfooter img {
  width: calc(100% - 20px);
  height: 150px;
}
@media screen and (max-width: 480px) {
  .footer .aboutfooter img {
    width: 100%;
    height: 100px;
  }
}
.footer .aboutfooter p {
  color: var(--grey);
  width: calc(100% - 20px);
}
@media screen and (max-width: 480px) {
  .footer .aboutfooter p {
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    text-align: left;
  }
}
.footer .folowus {
  width: 33.3333333333%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
@media screen and (max-width: 480px) {
  .footer .folowus {
    width: 100%;
    height: 50vh;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer .folowus {
    padding: 0;
  }
}
.footer .folowus h1 {
  font-size: 30px;
  color: var(--Background);
  text-align: center;
}
@media screen and (max-width: 480px) {
  .footer .folowus h1 {
    font-size: 20px;
  }
}
.footer .folowus a {
  text-decoration: none;
  color: var(--grey);
  font-weight: 600;
  font-size: 20px;
  margin-top: 10px;
}
@media screen and (max-width: 480px) {
  .footer .folowus a {
    font-size: 15px;
  }
}
.footer .folowus a:hover {
  color: var(--primery);
}
.footer .newsletter {
  width: 33.3333333333%;
  padding: 20px;
}
@media screen and (max-width: 480px) {
  .footer .newsletter {
    width: 100%;
    height: 50vh;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .footer .newsletter {
    padding: 0;
  }
}
.footer .newsletter h1 {
  font-size: 25px;
  color: var(--Background);
  text-align: center;
}
.footer .newsletter p {
  color: var(--grey);
  width: calc(100% - 20px);
  text-align: center;
}
.footer .newsletter input {
  width: calc(100% - 20px);
  height: 50px;
  border-radius: 50px;
  padding-left: 20px;
  margin-top: 10px;
  border: none;
  outline: none;
}
.footer .newsletter button {
  padding: 10px 20px;
  display: block;
  margin: auto;
  height: 50px;
  background-color: var(--primery);
  color: var(--Background);
  font-size: 19px;
  font-weight: 700;
  border: none;
  border-radius: 50px;
  margin-top: 20px;
  cursor: pointer;
}
.footer .newsletter button:hover {
  background-color: var(--dark);
  color: var(--Background);
  transition: all 0.3s ease-in-out;
}

footer {
  width: 100%;
  padding-inline: 20px;
  background: var(--dark);
  padding-block: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid var(--grey);
}
footer .footerbottom {
  width: 100%;
  display: flex;
  color: var(--Background);
  gap: 20px;
  justify-content: space-between;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primery);
}
@media screen and (max-width: 480px) {
  .container {
    height: 100vh;
    overflow: hidden;
  }
}
.container .wrapper {
  flex-basis: 400;
  background: var(--Background);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 128px 0 rgba(0, 0, 0, 0.1), 0 32px 64px -48px rgba(0, 0, 0, 0.1);
}
@media screen and (max-width: 480px) {
  .container .wrapper {
    width: 100%;
    border-radius: 0;
  }
}
.container .wrapper a {
  text-decoration: none;
  color: var(--dark);
  font-weight: 500;
}
.container .wrapper .wrapheader {
  width: 100%;
}
.container .wrapper .wrapheader h1 {
  color: var(--dark);
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  padding-block: 10px;
}
@media screen and (max-width: 480px) {
  .container .wrapper .wrapheader h1 {
    font-size: 20px;
  }
}
.container .wrapper .wrapbody {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container .wrapper .wrapbody img {
  width: 400px;
  height: 300px;
  border-radius: 10px;
  box-shadow: inset var(--dark) 0 0 10px;
}
.container .wrapper .wrapbody .review-profile {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: inset var(--dark) 0 0 10px;
}
.container .wrapper .wrapbody form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.container .wrapper .wrapbody form textarea {
  width: 100%;
  height: 100px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  color: var(--dark);
  resize: none;
  border: 1px solid var(--dark);
}
.container .wrapper .wrapbody form input[type=text] {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  color: var(--dark);
  border: 1px solid var(--dark);
}
.container .wrapper .wrapbody form input[type=file] {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  outline: none;
  font-size: 20px;
  color: var(--dark);
  border: 1px solid var(--dark);
  background: var(--Background);
}
.container .wrapper .wrapbody form .button {
  width: 120px;
  height: 40px;
  background: var(--dark);
  border: none;
  outline: none;
  border-radius: 5px;
  color: var(--Background);
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
}
.container .wrapper .wrapbody form .button:hover {
  background: var(--primery);
  color: var(--dark);
}/*# sourceMappingURL=style.css.map */